p{
    font-size: 22pt;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color:darkgreen;
    border: solid 5px blueviolet;
    margin-bottom: auto
}
button{
    font-size: 15pt;
}