.ss{
    background-color: rgb(183, 235, 12);
    width: 100%;
    color: #333333;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}
.sss{
    background-color: #c3002f;
    /* width: 100%; */
    color: #ffffff;
    /* height: 100px; */
    margin: 0 auto;
    /* overflow: hidden; */
    /* padding: 10px 0; */
    align-items: center;
    justify-content: space-around;
    display: block;
    float: none;
    text-align: center;
    font-size:35px;
    border-bottom-style: inset;
    border-bottom-color: white;
    border-bottom-width: 7px;

    border-top-style: solid;
    border-top-color: white;
    border-top-width: 7px;
}